<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
    <body>

        <%- include('./partials/nav.ejs') %>
        <h1>ERROR 404: THIS PAGE DOES NOT EXIST</h1>
        
        <script src="" async defer></script>
        <%- include('./partials/script.ejs') %>
    </body>
</html>