<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>


        <div class="about-us-section">
            <h3>About Me</h3>
            <p>

            </p>



        </div>
        <%- include('./partials/footer.ejs') %>
        <%- include('./partials/script.ejs') %>
    </body>
</html>