<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>

        

        <%- include('./partials/footer.ejs') %>
        <%- include('./partials/script.ejs') %>
    </body>
</html>